<h1>About</h1>

<div>
  <div class="row">
    <div class="col-4 text-center">
      <img src="assets/img/logo-sena.png" alt="" class="w-50">
      <ul class="list-group">
        <li class="list-group-item"><strong>Número de la ficha:</strong> {{nroFicha}}</li>
        <li class="list-group-item"><strong>Nombre del programa:</strong> {{nombrePrograma}}</li>
        <li class="list-group-item"><strong>Cantidad de aprendices:</strong> {{cantidadAprendices}}</li>
        <li class="list-group-item"><strong>Modalidad:</strong> {{modalidad}}</li>
        <li class="list-group-item"><strong>Registro calificado:</strong> {{registroCalificado}}</li>
      </ul>
    </div>
    <div class="col-8">
      <img src="assets/img/banner.png" alt="  " class="w-100">
    </div>
  </div>
</div>